.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.titlecolor {
  color: rebeccapurple;
  font-family: 'Goblin One';
  margin-top: 10px;
}

body {
  background-color: rgb(250, 219, 250)
}


#quote-box {
  position: absolute;
  top: 30%;
  left: 37.5%;
  width: 500px;
  margin: auto;
  text-align: center;
  
}

#containertwo {
margin-top: 20px;
}

#quote-and-author{
  border-style: groove;
  border-width: 10px;
  border-color: olivedrab;
  padding: 10px;
  color: black;
  background-color: white;
  font-size: 20px;
  word-wrap: break-word;
  
}

#new-quote {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  
}

#tweet-quote {
  
}

#tweet-quote-box {
background-color: yellow;
}

#text {
  margin-top: 5px;
  margin-bottom: 10px;
}

#author {
  margin-bottom: 30px;
}




